@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #e87109;
    --body-font-color: #515151;
}
html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
section{
    padding: 3.9rem 0;
}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
 /* header */
 header{
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1;
     background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),transparent);
} 
.logo{
	height: 70px;
	width: 100px;
}
.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-toggle{
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}
.fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}
.nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}
.open .fa-times{
    display: block;
}
.open .fa-bars{
    display: none;
}
.open .nav-list{
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}
.nav-item{
    border-bottom: 2px solid rgba(255,255,255,0.3);
}
.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}
.nav-link:hover{
    color: var(--secondary-font-color);
}

.banner_01{
     width: 100%;
     height: 100vh;
     background: url("../images/banner.jpg") center no-repeat;
     background-size: cover;
     display: flex;
     align-items: center;
     text-align: center;     
 }
 
 

.sub-headline{
     font-size: 8.5rem;
     font-family: var(--secondary-font);
     color: var(--secondary-font-color);
     font-weight: 100;
     line-height: 0.4;
     letter-spacing: 2px;
     opacity: 0;
     animation: fadeUp 0.5s forwards;
     animation-delay: 0.5s;
 }
 
 
 .sub-headline-extra3{
     font-size: 8.5rem;
     font-family: var(--secondary-font);
     color: var(--secondary-font-color);
     font-weight: 100;
     line-height: 0.4;
     letter-spacing: 2px;
     opacity: 0;
     animation: fadeUp 0.5s forwards;
     animation-delay: 0.5s;
 }
 
 .sub-headline-extra3::after{
    content: "";
    
    width: 14rem;
    height: 1rem;
    background-color: orange;
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.first-letter{
     text-transform: uppercase;
     font-size: 10.3rem;
}
.main-title{
     color: #fff;
     font-size: 3.7rem;
     font-family: var(--main-font);
     text-transform: uppercase;
     font-weight: 900;
     letter-spacing: 0.5rem;
     margin-right: -0.5rem;
     animation: scale 0.5s forwards;
 }
.separator{
     display: flex;
     align-items: center;
     justify-content: center;    
 }
.line{
     width: 100%;
     max-width: 8.4rem;
     height: 0.25rem;
     background-color: #fff;
     position: relative;
     animation: grow 2s forwards;
     animation-delay: 0.9s;
     opacity: 0;
}
.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0.6rem solid transparent;
    animation: grow 3s forwards;
    animation-delay: 1.2s;
    opacity: 0;    
}
.line-right::before{
    border-right-color: #fff;
    right: 0;
}
.line-left::before{
    border-left-color: #fff;
    left: 0;
}
/*.asterisk-01{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    animation: spin 0.5s forwards;
    animation-delay: 0.7s;
    opacity: 0;
    width: 5px;
    height: 12px;
}
.asterisk-02{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    animation: spin 0.5s forwards;
    opacity: 0;
    animation-delay: 0.7s;
    width: 650px;
    height: 12px;
}
.asterisk-03{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    animation: spin 0.5s forwards;
    animation-delay: 0.7s;
    opacity: 0;
    width: 1300px;
    height: 12px;
}*/

.animation{
    animation: fadeDown 0.5s forwards;
    animation-delay: 1.5s;
    opacity: 0;  
}
.title-description h5{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
	margin-top: 15px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: 0.9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: 0.4rem;
    transition: background-color 0.5s;
}
.cta-btn:hover,
.cta-btn:focus{
    color:#fff;
    background-color: var(--secondary-font-color);
}

.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}
.section-02 .global-headline{
    margin-top: 6.9rem;
}
.global-headline .asterisk-03{
    background-color: var(--body-font-color);
    margin: 2.4rem 0;
}
.main-title-dark{
    color: var(--main-font-color-dark);
    letter-spacing: 0.7rem;
    margin-right: -0.7rem;
}
.global-headline .sub-headline{
    letter-spacing: -1px;
    line-height: 0.42;
}
.sub-section{
    text-align: center;
}
.sub-section-02{
    margin-bottom: 3rem;
}
.sub-section-02 p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}
.body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color 0.5s;
	margin-left: 60px;
}
.body-btn2{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color 0.5s;
}
/*.section-01 .body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    padding-left: 200px;
    position: relative;
    transition: color 0.5s;
}*/
.body-btn::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    background-color: var(--secondary-font-color);
    transition: background-color 0.5s;
    height: 2px;
    width: 100%;
}
.body-btn:hover,
.body-btn:focus{
    color: var(--main-font-color-dark);
}
.body-btn:hover::before,
.body-btn:focus::before{
    color: var(--main-font-color-dark);
}
.body-btn2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: var(--secondary-font-color);
    transition: background-color 0.5s;
    height: 2px;
    width: 100%;
}
.body-btn2:hover,
.body-btn2:focus{
    color: var(--main-font-color-dark);
}
.body-btn2:hover::before,
.body-btn2:focus::before{
    color: var(--main-font-color-dark);
}
.banner-02{
    background: url("../images/test4.jpg");
    height: 660px;
	width: 100%;
}
.banner-04{
    background: url("../images/test3.jpg");
    height: 660px;
	width: 100%;
}
.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}
.image-group{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 1.5rem;
}
.section-01 .sub-section-02{
    padding-top: 3rem;
    margin-bottom: 0;
}
.banner-03{
    background: url("../images/test6.jpg") no-repeat ;
    width: 100%;
	height: 650px;
}


/* Login */
.sub-headline-extra{
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: #F2F2F2;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    animation-delay: 0.5s;
}

.image-container{
    background: url('../images/test13.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-container{
    background-color: var(--secondary-font-color); 
    display: flex;
    justify-content: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box h4{
    font-weight: bold;
    color: #fff;
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: white;
    padding-left: 45px;
}

.form-box .form-input span{
    position: absolute;
    top: 8px;
    padding-left: 20px;
    color: #777;
}

.form-box .form-input input:focus{
    border-bottom: 2px solid #dc3545;
}

.form-box button{
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    transition: 0.5s;
}

.form-box button:hover{
    box-shadow: 0px 9px 10px -2px rgba(0,0,0,0.5);
}


 



/* Footer */
footer{
	padding: 3rem 0;
	background-color: #ff9500;
	color: #ffff;
	text-align: center;
	position: relative;
}
.back-to-top{
	width: 7rem;
	height: 7rem;
	background-color: #ff9500;
	position: absolute;
	top:-4.5rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
}
.back-to-top i{
	display: block;
	color: #ffff;
	font-size: 2rem;
	padding: 2rem;
}
.footer-content{
	overflow: hidden;
}
.footer-content h4{
	font-size: 1.9rem;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	margin-bottom: 3rem;
}
.footer-content .asterisk{
	margin: 2.4rem 0;
}
.footer-content-about{
	margin-top: 20px;
	margin-bottom: 5.4rem;
}
.footer-content-about p{
	line-height: 2;
}
.social-icons{
	list-style: none;
	margin-bottom: 5.4rem;
	display: flex;
	justify-content: center;
}
.social-icons i{
	font-size: 2rem;
	color: #ffff;
	padding: .8rem 2rem;
	opacity: .5;
	transition: color .5s;
}
.social-icons i:hover,
.social-icons i:focus{
	color: var(--secondary-font-color);
}
.newsletter-form{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}
.newsletter-input{
	width: 100%;
	max-width: 25rem;
	padding: 1rem;
	border-radius: .4rem;
}
.newsletter-btn{
	background-color: transparent;
	border: none;
	color: var(--main-font-color-dark);
	cursor: pointer;
	font-size: 1.6rem;
	padding: 1px .6rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 21rem;
}

/* SignUp */
.title{
	margin-top: 150px;
	margin-bottom: 50px;
	text-align: center;
}

.mainblock{
	margin-bottom: 100px;
}
.secondaryblock{
	border: 5px solid orange;
	height: 100%;
	padding:50px;
	background-color: #F2F2F2;
	font-size: 20px;
}

/* Contact Us */
.secondaryblock2{
	height: 100%;
	padding:50px;
	background-color: #ff9500;
	font-size: 20px;
}
/* Team Page */
.header-team-page{
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 4px;
    margin-right: -4px;
    margin-bottom: 6rem;
    text-align: center;
    color: #333;
    position: relative;
    font-family: var(--body-font);
}
.header-team-page::after{
    content: "";
    width: 14rem;
    height: 1rem;
    background-color: firebrick;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card{
    width: 32rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.3) ;
}
.card .card-img{
    width: 100%;
    height: 28rem;
    object-fit: cover;
    clip-path: polygon(0% 15%, 10% 13%, 15% 0%, 85% 0%, 88% 11%, 100% 15%, 100% 85%, 90% 88%, 85% 100%, 15% 100%, 12% 89%, 0% 85%);
}
.profile{
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -9rem;
    z-index: 999;
    border: 0.2rem solid #333;
}
.card h1{
    font-size: 2.5rem;
    color:  #ff9500;
    margin: 1.5rem 0;
}
.profession{
    color: black;
    font-size: 1.7rem;
    font-weight: 400;
}
.about{
    font-size: 1.6rem;
    margin: 1.3rem 0;
    font-style: italic;
    text-align: center;
    color: black;
}
.card .btn{
    padding: 1rem 2.5rem;
    background-color: #ff9500;
    border-radius: 4rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    transition: all 0.3s;
}
.card .btn:hover{
    transform: translateY(-4px);
    box-shadow: 0.5rem 0.5rem 3rem rgba(0,0,0,0.2);
}
.card .btn:focus{
    transform: translateY(0);
    box-shadow: none;
}
.social{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}
.social i{
    font-size: 3rem;
}

/* Media Queries */
@media screen and (min-width: 850px){
	section{
		padding: 7.9 rem;
	}
	
	.menu-toggle{
		display: none;
	}
	
	
	
    
	
	.body-btn{
		font-size: 1.5rem;
		color: var(--secondary-font-color);
		position: relative;
		transition: color 0.5s;
		margin-left: 180px;
	}
	

	.body-btn::before{
		content: '';
		position: absolute;
		left: 0px;
		bottom: -3px;
		background-color: var(--secondary-font-color);
		transition: background-color 0.5s;
		height: 2px;
		width: 100%;
	}

	.nav{
		justify-content: space-between;
	}
	
	.nav-list{
		position: initial;
		width: initial;
		height: initial;
		background-color: transparent;
		padding: 0;
		justify-content: initial;
		flex-direction: row;
		transform: initial;
		transition: initial;
	}
	
	.nav-item{
		margin-left: 0 2.4rem;
		border: none;
	}
	
	.nav-item:last-child{
		margin-right: 0;
	}
	
	.nav-link{
		font-size: 1.3rem;
	}
	
	.active{
		position: relative;
	}
	
	.active::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #ffff;
		left: 0;
		bottom: -3px;
	}
	
	.sub-headline{
		font-size: 10rem;
	}
	
	.first-letter{
		font-size: 12.2rem;
	}
	
	.main-title{
		font-size: 4.7rem;
		letter-spacing: .8rem;
	}
	
	.line{
		max-width: 11.4rem;
	}
	
	.sub-section{
		display: flex;
		align-items: center;
	}
	
	.sub-section > div{
		flex: 1;
	}
	
	.padding-right{
		padding-right: 7rem;
	}
	
	.footer-content{
		max-width: 77.5rem;
		margin: auto;
	}
	
	.footer-content-about{
		max-width: 51.3rem;
		margin: 0 auto 5.4rem;
	}
	
	.footer-content-divider{
		display: flex;
		justify-content: space-between;
	}
	
	.social-media,
	.newsletter-form{
		width: 100%;
		max-width: 27.3rem;
		margin: 0 auto;
	}
	
	.social-icons i{
		opacity: 1;
	}
	
	.newsletter-btn{
		margin-left: 7.5rem;
	}
}





/* Animations */
@keyframes fadeUp {
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale {
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes grow {
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}
@keyframes fadeDown {
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}